<div style="background-color: gray;">
    <div class="container" style="width: 50%; background-color:darkmagenta; margin: auto;">
        <h1 style="text-align: center; color: white;"> Cadastro </h1>
        
        <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">

            <div class="form-control">
                <div class="row">
                    <div class="col-sm">
                        <label for="usuario"> Nome de usuário</label>
                        <input class="form-control" type="text" name="usuario" [(ngModel)]="usuario" id="usuario" formControlName="usuario"
                            [ngClass]="{ 'is-invalid':(!f.usuario.pristine && f.usuario.errors) }">
                        <div *ngIf="f.usuario.errors" class="invalid-feedback">
                            <div *ngIf="f.usuario.status === 'INVALID'">É necessário informar o usuário!</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <label for="login"> Informe seu login </label>
                        <input class="form-control" type="text" name="login" [(ngModel)]="login" id="login" formControlName="login"
                            [ngClass]="{ 'is-invalid':(!f.login.pristine && f.login.errors) }">
                        <div *ngIf="f.login.errors" class="invalid-feedback">
                            <div *ngIf="f.login.status === 'INVALID'">É necessário informar o login!</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <label for="email"> Informe seu email </label>
                        <input class="form-control" type="text" name="email" [(ngModel)]="email" id="email" formControlName="email"
                            [ngClass]="{ 'is-invalid':(!f.email.pristine && f.email.errors) }">
                        <div *ngIf="f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.status === 'INVALID'">É necessário informar o email!</div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 15px;">
                    <div class="col-sm">
                        <label for="password"> Senha </label>
                        <input class="form-control" type="password" name="password" [(ngModel)]="password" id="password" formControlName="password"
                            [ngClass]="{ 'is-invalid':(!f.password.pristine && f.password.errors) }">
                        <div *ngIf="f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.status === 'INVALID'">É necessário informar a senha! </div>
                        </div>
                </div>
             </div>

             <div class="row" style="margin-top: 15px;">
                <div class="col-sm">
                    <label for="telefone"> Telefone </label>
                    <input class="form-control" type="telefone" name="telefone" [(ngModel)]="telefone" id="telefone" formControlName="telefone"
                        [ngClass]="{ 'is-invalid':(!f.telefone.pristine && f.telefone.errors) }">
                    <div *ngIf="f.telefone.errors" class="invalid-feedback">
                        <div *ngIf="f.telefone.status === 'INVALID'">É necessário informar o seu telefone! </div>
                    </div>
            </div>
        </div>

        <div class="row" style="margin-top: 15px;">
            <div class="col-sm">
                <label for="dtNascimento"> Data de Nascimento </label>
                <input class="form-control" type="dtNascimento" name="dtNascimento" [(ngModel)]="dtNascimento" id="dtNascimento" formControlName="dtNascimento"
                    [ngClass]="{ 'is-invalid':(!f.dtNascimento.pristine && f.dtNascimento.errors) }">
                <div *ngIf="f.dtNascimento.errors" class="invalid-feedback">
                    <div *ngIf="f.dtNascimento.status === 'INVALID'">É necessário informar a sua data de nascimento! </div>
                </div>
        </div>
    </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
        &nbsp; &nbsp;
        <button type="submit" class="btn btn-primary">Cancelar</button>

            </div>

        </form>
    </div>
     

</div>
