<div class="lolBackground">
    <img src="../../assets/lolScream.jpg" class="lolBackground"/>
    <div style="position: absolute;" class="colorBackground">
        <aside style="float: left">
            <table class="table table-dark table-striped" style="margin-left: 20px; width: 300px; margin-top: 20px;">
                <thead>
                    <tr>
                        <th colspan="3" style="text-align: center;">
                            <b> Top punter's LoL</b>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <b>Position</b>
                        </th>
                        <th>
                            <b>Name</b>
                        </th>
                        <th>
                            <b>Points</b>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td> 
                            <b>{{user.pos}} </b>    
                        </td>
                        <td> 
                            <b>{{user.name}} </b>    
                        </td>
                        <td> 
                            <b>{{user.points}} </b>    
                        </td>
                    </tr>
                </tbody>
            </table>
        </aside>
        <article class="article" style=" display: flex; ">
            <div style="width: 100%;">
                <form style="width: 100%;">
                    <table class="table table-dark table-striped" style="margin: auto; margin-top: 20px; width: 90%;">
                        <thead>
                            <tr>
                                <th colspan="3" style="text-align: center;">
                                    <b> Games of this round</b>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let round of rounds">
                                <td style="text-align: center;" > 
                                    <b>{{round.teamA}} </b>    
                                </td>
                                <td style="text-align: center;">
                                    <input type="radio" value="round.teamA" name="choice"/>
                                    &nbsp;| &nbsp; 
                                    <input type="radio" value="round.teamB" name="choice"/>
                                </td>
                                <td style="text-align: center;" > 
                                    <b>{{round.teamB}} </b>    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </article>
        
    </div>
</div>