/* You can add global styles to this file, and also import other style files */
* { 
   margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
A {
   text-decoration: none;
   color: whitesmoke;
   font-family: Verdana, Geneva, Tahoma, sans-serif } 

.conteudo {
   padding-top: 10px;
}

.colorBackground {
   background-color:rgba(0,0,0,0.2);
}

.form-control {
   background-color:rgba(0,0,0,0.2);
}