<div style="background-color: #1b2838;">

    <div class="container">

        <div>
            <a routerLink="/home/escolhaJogo/homeLol">
                <img id="img" src="../../assets/lol.png">
            </a>
        </div>

        <div>
            <a routerLink="/home/escolhaJogo/homeCs">
                <img id="img" src="../../assets/cs.jpg">
            </a>
        </div>

        <div>
            <a routerLink="/escolhaJogo/homeDota">
                <img id="img" src="../../assets/dota2.jpg">
            </a>
        </div>
        
    </div>

</div>